body {
  --satin-sheen-gold: #b39c4dff;
  --moss-green: #768948ff;
  --fern-green: #607744ff;
  --hunter-green: #34623fff;
  --pine-tree: #1e2f23ff;

  --header-height: 100px;
  --gutter: 30px;
  --footer-height: 25px;

  font-family: "Bitter", serif;
  background-color: #1e2f23;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--footer-height));
}

section {
  background-color: #34623f;
  width: 1000px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
  border: solid 2px var(--pine-tree);
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: var(--header-height);
  background-color: #607744;
  border: 1px solid darkslategrey;
}

.cart-container{
    width: 100%;
    position: absolute;
    left: 40%;
    margin: 5px;
    padding: 5px;
}
.cart-container :hover :last-child {
    filter: invert(50%);
}
.cart-container span {
    box-sizing: border-box;
    position: absolute;
}

@font-face {
  font-family: "Reeperbahn";
  src: url("../assets/Reeperbahn.ttf");
}

header h1 {
  font-size: 4em;
  font-family: "Reeperbahn", cursive;
  color: #fff;
}

nav {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #B0A8B9;
  text-decoration: none;
  margin: 5px;
}

nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav ul li {
  padding-left: 10px;
  color: var(--pine-tree);
}

nav ul li :hover {
  background-color: var(--hunter-green);
  border: 1px solid;
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: var(--prussian-blue);
  box-shadow: var(--shadow);
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

content {
  width: 80%;
}

p {
  margin: var(--gutter);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: var(--footer-height);
  display: flex;
  justify-content: flex-end;
  background-color: var(--prussian-blue);
  box-shadow: var(--shadow);
}

button {
    margin: 10px;
    padding: 15px;
    background-color: rgb(212, 212, 212);
    font-family: "Reeperbahn", cursive;
    font-size: 2em;
    border-radius: 50%;
    outline: none;
    text-align: center;
}
.table-container {
    width: 100%;
}
table {
    width: 100%;
    text-align: center;
    background-color: #CCF;
    border: 2px dotted gray;
    border-radius: 10px;
    padding: 20px;
}
th {
    font-weight: bold;
    border: 5px solid gray;
    border-radius: 10px;
}
td {
    padding-top: 25px;
}
.hidden {
    display: none;
}