@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

:root {
  --darkblue: #141432;
  --mediumblue: #203266;
  --blue: #3586ff;
  --purple: #23194d;
  --violet: #39297d;
  --lightblue: #5d9cff;
  --lightpurple: #8f7ae6;
  --lightviolet: #a792f4;
  --lightgreen: #a7ffeb;
  --lightyellow: #f1faee;
  --lightorange: #ffe0b2;
  --lightred: #ffccbc;
  --lightgray: #f8f8f8;
  --gray: #d8d8d8;
  --darkgray: #828282;
  --darkred: #b71c1c;
  --darkorange: #ff8a65;
  --darkyellow: #ffd180;
  --darkgreen: #a5d6a7;

  --font-family: "Bitter", serif;
}

@font-face {
  font-family: "Reeperbahn";
  src: url("../assets/Reeperbahn.ttf");
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Bitter", sans-serif;
  font-size: 100%;
}

header {
  background-color: var(--mediumblue);
  position: sticky;
  top: 0;
  z-index: 1;
  min-height: 60px;
  width: 100%;
  padding: 16px;
  box-shadow: 0px 0px 10px 3px #00000070;
  transition: all 0.5s;
}

header > .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
}

header > .container > .logo {
  color: aliceblue;
  font-size: 1.6em;
  font-weight: 500;
  font-family: "Reeperbahn", cursive;
  transition: all 1s;
}

header > .container > .logo:hover {
  text-decoration: underline var(--violet);
}


#btn-flip {
  opacity: 1;
  outline: 0;
  color: var(--lightblue);
  line-height: 30px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Bitter', serif;
  /* text-transform: uppercase; */
}

#btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

#btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

#btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%; 
  font-size: small;
  font-weight: 500;
  color: var(--darkblue);
  display: block;
  transition: 0.5s;
  position: absolute;
  background: var(--lightblue);
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

#btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: var(--lightblue);
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: var(--darkgray);
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

header > .container > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
}

header > .container > nav > .icon {
  color: var(--lightpurple);
  font-size: 1.2em;
  transition: all 0.5s;
}

header > .container > nav > .icon:hover {
  transform: translateY(4px);
  color: var(--lightred);
}

main > .home {
  background-image: url(../assets/slider_4.jpg);
  background-color: #00000040;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr repeat(4, 1fr);
  border-radius: 25px;
  gap: 16px;
  padding: 16px;
  margin: 16px;
}

main > .home > .logo {
  background-image: url(../assets/color1_logo_light_background.png);
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 25px;
}

main > .home > p {
  background-color: aliceblue;
  font-family: "Bitter", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5em;
  border-radius: 25px;
  padding: 16px;
}

main > .home > p > .icon {
  color: var(--lightblue);
  margin-right: 16px;
}

main > .store {
  background-color: #eaeded;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

main > .store > div {
  background-color: var(--lightgray);
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 16px;
  padding: 16px;
}

main > .store > div > .title {
  background-image: linear-gradient(165deg, var(--darkblue), var(--darkgray));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: 100%;
  max-width: 300px;
  font-size: 1.5em;
  text-align: center;
  padding: 8px;
}

main > .store > div > .image {
  vertical-align: middle;
  height: 240px;
  width: 240px;
  padding: 8px;
}

main > .store > div > .container {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 16px;
  width: 100%;
  max-width: 300px;
  padding: 8px;
}

main > .store > div > .container > .size {
  text-align: center;
  line-height: 2em;
  letter-spacing: 0.5px;
  font-family: "Bitter", sans-serif;
  font-size: 1em;
  outline: 1px solid black;
  border-radius: 10px;
}

main > .store > div > .container > .color {
  text-transform: lowercase;
  text-align: center;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.5px black;
  line-height: 2em;
  letter-spacing: 0.5px;
  font-family: "Bitter", sans-serif;
  font-size: 1em;
  outline: 1px solid black;
  border-radius: 10px;
}

main > .store > div > .container > .button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--violet);
  outline: 1px solid var(--violet);
  font-size: 1.3em;
  font-weight: 300;
  font-family: "Bitter";
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.5s;
}

main > .store > div > .container > .button:hover {
  color: var(--white);
  background-color: var(--lightpurple);
  border-radius: 4px;
}

main > .madeBy {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  gap: 32px;
  padding: 48px 16px;
}

main > .madeBy > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: stretch;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

main > .madeBy > div > .picture {
  width: 240px;
  height: 240px;
  border-radius: 10px;
  box-shadow: 6px 6px 12px 4px #00000070;
  margin: 0 auto;
}

main > .madeBy > div > .container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
}

main > .madeBy > div > .container > .title {
  text-align: center;
  font-family: "Bitter", sans-serif;
  font-size: 1.6em;
  letter-spacing: 2px;
  padding: 8px;
}

main > .madeBy > div > .container > div {
  padding: 8px;
}

main > .madeBy > div > .container > div > .paragraph {
  text-align: justify;
  text-indent: 32px;
  font-size: 0.95em;
  opacity: 0.9;
}

main > .madeBy > div > .container > .icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  padding: 8px;
}

main > .madeBy > div > .container > .icon > a {
  color: var(--violet);
  font-size: 1.6em;
  transition: all 0.5s;
}

main > .madeBy > div > .container > .icon > a:hover {
  color: var(--darkgray);
  transform: translateY(-8px);
}

main > .contact {
  background-image: url(../assets/slider_2.jpg);
  background-color: var(--light-blue);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  display: grid;

  gap: 16px;
  padding: 16px;
}

main > .contact > .container {
  background-color: #00000070;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 5px;
  gap: 16px;
  padding: 16px;
}

main > .contact > .container > .title {
  color: var(--lightgray);  
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}

main > .contact > .container > .link {
  background-color: var(--lightpurple);
  color: var(--darkblue);
  text-align: center;
  align-self: center;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000000cc;
  padding: 8px 16px;
  transition: all 0.5s;
}

main > .contact > .container > .link > i {
  padding: 8px;
}

main > .contact > .container > .link:hover {
  box-shadow: 2px 2px 2px black;
  transform: translate(-2px, -2px);
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mediumblue);
  min-height: 120px;
  padding: 16px;
  box-shadow: 0px 0px 10px 3px #00000070;
}

footer > .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  max-width: 900px;
  margin: 16px 0px;
}

footer > .menu > li > .link {
  color: var(--lightgray);
  font-size: 1.1em;
  opacity: 0.7;
  transition: all 0.5s;
}

footer > .menu > li > .link:hover {
  opacity: 1;
  letter-spacing: 1px;
  text-decoration: overline var(--lightblue);
}

footer > .paragraph {
  color: var(--lightgreen);
  font-size: 1em;
  text-align: center;
  width: 100%;
  margin-top: 16px;
}

footer > .paragraph > .link {
  color: var(--lightgray);
  font-size: 1em;
  text-decoration: underline wavy var(--lightviolet);
  transition: all 1s;
}

footer > .paragraph > .link:hover {
  letter-spacing: 1px;
}

@media screen and (min-width: 600px) {
  main > .home {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
  }

  main > .home > .logo {
    grid-row: 1/5;
  }

  main > .madeBy > div {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  main > .madeBy > div > .picture {
    height: 280px;
    width: 280px;
  }

  main > .madeBy > div:nth-child(2n) > .container {
    order: 1;
  }

  main > .madeBy > div:nth-child(2n) > .picture {
    order: 2;
  }

  main > .contact {
    grid-template-columns: repeat(2, 1fr);
  }
}
