p, h3, button {
    text-align: center;
    padding: 0;
    margin: 0;
}

.main-section li img {
    width: 100px;
    height: 100px;
    border: 1px gray solid;
}

.main-section {
    margin-top: 35%;
}

.main-section ul {
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-section li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px black solid;
    border-radius: 5px;
    width: 25%;
    height: 30%;
    margin:20px;
    background-color:#b7b5b3;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,1);

}

.text-container {
    border: 1px gray solid;
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
}

.main-section li button {
    margin: 5px;
    padding: 10px;
    background-color: #e5e7e6;
    font-family: "Reeperbahn", cursive;
    font-size: 2em;
    border-radius: 50%;
    outline: none;
}

@font-face {
    font-family: "Reeperbahn";
    src: url("../assets/reeperbahn.ttf");
}

.main-section li h3 {
    margin: 5px;
    font-family: "Reeperbahn", cursive;
    font-size: 2.5em;
}

.item-price {
    font-weight: bolder;
    font-size: 1.1em;
}

.item-description {
    font-size: 0.8em;
}
